{% extends "base.html" %}
{% load static %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'app01:index' %}">首页</a></li>
        <li class="breadcrumb-item active">{{ it_obj.it_name }}</li>
        <li class="breadcrumb-item active">用例列表</li>
    </ol>

{% endblock %}

{% block content %}
    {% if api_obj %}
        <table class="table table-striped table-hover table-bordered">
            <thead style="text-align: center">
            <tr>
                <th>选择</th>
                <th>序号</th>
                <th>名称</th>
                <th>描述</th>
                <th>请求url</th>
                <th>请求类型</th>
                <th>请求参数</th>
                <th>预期值</th>
                <th>通过状态</th>
                <th>是否执行</th>
                <th>报告</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in api_obj %}
                <tr>
                    <td><input type="checkbox" value="{{ foo.pk }}" name="checkbox_list"></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ foo.api_name }}</td>
                    <td title="{{ foo.api_desc }}">{{ foo.api_desc | truncatechars:"25" }}</td>
                    <td title="{{ foo.api_url }}">{{ foo.api_url | truncatechars:"15" }}</td>
                    <td>{{ foo.api_method }}</td>
                    <td>{{ foo.api_params }}</td>
                    <td>{{ foo.api_expect }}</td>
                    <td>{{ foo.get_api_pass_status_display }}</td>
                    <td>{{ foo.get_api_run_status_display }}</td>
                    {% if foo.api_report %}
                        <td><a href="#">下载</a></td>
                    {% else %}
                        <td>无</td>
                    {% endif %}
                    <td>
                        <a href="#" class="btn btn-danger btn-sm">删除</a>
                        <a href="#" class="btn btn-info btn-sm">编辑</a>
                        <a href="#" class="btn btn-info btn-sm">执行</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {% csrf_token %}
            <input type="button" value="批量执行" class="btn btn-success" id="exeute">
        </div>
    {% else %}
        暂无数据
    {% endif %}


{% endblock %}

{% block js %}
    <script src="{% static 'sweetalert.min.js' %}"></script>
    <script>
        // 批量执行逻辑
        /*
        1、点击执行按钮，获取所有选中的checkbox的值
           判断点击后，没有找到选中的checkBox,要给提示信息
        2、将多个值发送到后端
        3、后端处理完毕，返回前端状态
         */
        $("#exeute").click(function () {
            var chk_value = new Array();
            $.each($('input[name="checkbox_list"]:checked'), function (index, item) { //遍历将所有选中的值放到数组中
                console.log(item, index);
                chk_value.push($(this).val());
            });
            console.log(1112222, chk_value);
            if (chk_value.length == 0) {
                swal({
                    "title": "请至少勾选一个用例后再点击执行"
                })
            } else {
                console.log(33444,chk_value);
                // ajax将数组发送后端
                // 需要序列化,JSON.stringify()前端序列化
                $.ajax({
                    "url": "{% url 'app01:run_case' 0 %}",
                    "type": "POST",
                    "data": {
                        "chk_value": JSON.stringify(chk_value),
                        "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                    },
                    success: function (data) {
                        //console.log(data)
                        window.location = data["path"]
                    }
                })
            }

        })

    </script>

{% endblock %}